<p class="text-green-600 mb-4"><%= notice %></p>

<% content_for :title, "Blog posts" %>

<h1 class="text-3xl font-bold mb-6">Blog posts</h1>

<div id="blog_posts" class="grid grid-cols-1 md:grid-cols-2 gap-6">
  <% @blog_posts.each do |blog_post| %>
    <div class="bg-white rounded shadow p-6">
      <%= render blog_post %>
      <p class="mt-4">
        <%= link_to "Show this blog post", blog_post, class: "text-blue-600 hover:underline" %>
      </p>
    </div>
  <% end %>
</div>

<div class="mt-8">
  <%= link_to "New blog post", new_blog_post_path, class: "inline-block bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700" %>
</div>